@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');







body{
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #0d0e11;
    background-color: aliceblue;
    position: relative;
    font-family: 'teko';
    
    z-index: 2;
    text-align: center;
}


#head ul {
    padding: 1rem 10px;
    display: flex;
    list-style-type: none;
    
}

#head a {
    padding: 10px 5px;
    
    color: #645f5f;
    
    margin: 20px;
    display: flow-root;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;

}

#head a:hover{
    padding: 10px 5px;
    
    color: rgb(255, 255, 255);
    background-color: #4C7EE1;
    margin: 20px;
    display: flow-root;
    
    text-decoration: none;
    border-radius: 5px;

}

#logo {
    width: 70px;
    padding: 2rem;
    animation: giro 1.5s infinite forwards;
}

@keyframes giro{
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

.linha {
     height: 70px;
     width: 100%;
     padding: 0;
    background-color: #645f5f;
    color: aliceblue;
    opacity: 0.8;
    justify-content: center;
    display: flex;
    justify-content: space-around;

}



.Dlinha nav ul{
    justify-content: center;
    display: flex;


}

.Dlinha li {
    list-style-type: none;
   padding: 0 30px;

}

.Dlinha a{
    font-size: 25px;
    font-family: 'Teko';
    text-decoration: none;
    display: flex;
    color: aliceblue;
    background-color:#645f5f;
    padding: 1px 8px;
    border-radius: 5px;
    opacity: 0.5;
    
}

.Dlinha a:hover{
    font-size: 25px;
    font-family: 'Teko';
    text-decoration: none;
    display: flex;
    color: aliceblue;
    background-color:#4b4848;
    border-radius: 5px;
    opacity: 1;
}

.fundo {
    height: 100px;
    width: 100px;

}

main {
    padding: 2rem 0;
}

main h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 70px ;
    color: rgb(74, 73, 71);
    font-family: 'Chakra Petch';
}

main h3 {
    text-align: left;
    padding: 2rem 5%;
    font-size: 50px;
    color: rgb(72, 71, 71);
    font-family: 'Prompt', 'regular';
}

main p{
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 2rem 5%;
    font-size: 30px ;
    font-family: 'Varela Round' ;
}

.exemplos p{
    font-size: 15px;
    padding: 20px;
    
}

.exemplos h4{
    font-size: 25px;
    padding: 1% 50px;
    color: rgb(72, 71, 71);
    font-family: 'Prompt';
}

.exemplos {
    padding-bottom:2rem ;
}


main li{
    list-style-type: circle;
    text-decoration: none;
}

main a{
    height: auto;
    padding: 15px 10px ;
    border-radius: 25px;
    color: #4C7EE1;
    background-color: aliceblue;
    text-decoration: none;
    list-style-type: none;
    transition: 0.5s;
}

main a:hover{
    height: auto;
    padding: 10px 8px ;
    border-radius: 5px;
    color: aliceblue;
    background-color: #1854C5;
    text-decoration: none;
    list-style-type: none;
    
}

main  h4{
    font-size: 25px;
    padding: 1% 50px;
    color: rgb(72, 71, 71);
    font-family: 'Prompt';
}

.uso h4{
    padding-bottom: 0;
}

.uso p{
    font-size: 20px;
    padding-right:25% ;
}

footer {
    padding: 2rem;
   height: auto;
    background-color: #0d0e11;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
}

