@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');






body{
    background-color: aliceblue;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #0d0e11;
    background-color: aliceblue;
    position: relative;
    font-family: 'teko';
    
    z-index: 2;
    text-align: center;
}


#head ul {
    padding: 1rem 10px;
    display: flex;
    list-style-type: none;
    
}

#head a {
    padding: 0px 5px;
    
    color: #645f5f;
    
    margin: 20px;
    display: flow-root;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;

}

#head a:hover{
    
    color: rgb(255, 255, 255);
    background-color: #4C7EE1;
    margin: 20px;
    display: flow-root;
    
    text-decoration: none;
    border-radius: 5px;

}

#logo {
    width: 70px;
    padding: 2rem;
    animation: giro 1.5s infinite forwards;
}

@keyframes giro{
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}


main {
  padding: 2rem 0;
}

main h2{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  font-size: 70px ;
  color: rgb(74, 73, 71);
  font-family: 'Chakra Petch';
}

main h3 {
  text-align: left;
  padding: 2rem 5%;
  font-size: 50px;
  color: rgb(72, 71, 71);
  font-family: 'Prompt', 'regular';
}

main p{
  text-align: left;
  color: rgb(78, 78, 78);
  padding: 2rem 5%;
  font-size: 30px ;
  font-family: 'Varela Round' ;
}


main li{
  list-style-type: circle;
  text-decoration: none;
}

main a{
  height: auto;
  padding: 15px 10px ;
  border-radius: 25px;
  color: #4C7EE1;
  background-color: aliceblue;
  text-decoration: none;
  list-style-type: none;
  transition: 0.5s;
}

main a:hover{
  height: auto;
  padding: 10px 8px ;
  border-radius: 5px;
  color: aliceblue;
  background-color: #1854C5;
  text-decoration: none;
  list-style-type: none;
  
}

main  h4{
  font-size: 25px;
  padding: 1% 50px;
  color: rgb(72, 71, 71);
  font-family: 'Prompt';
}

section {
  padding-top: 2rem;
 padding-right: 40rem;
}

.box {
  height: 150px;
  width: 150px;
  background-color: #0054fc;
  float: right;
  display: flexbox;
  animation: exemplo 3s infinite linear;
}

.texto {
padding-left: 2rem;
display: flexbox;
font-family: 'Fira code' ;
}

@keyframes exemplo {

  from {
    background-color: red;
    }
    to {
    background-color: yellow;
    }
    }